# Problem 1
In a cricket tournament, based on the outcome of a particular match a team gets following points:

wins gets 7 points
draws gets 2 points
losses gets 0 points
Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team austria?


a) The outcome variables are defined below?
b) Calculate the total points gained by Team Austria and print.

In [2]:
wins=7
draws = 2
losses = 0
#Aravali Points in total
aravali_points = 4*wins + 3*losses + 1*draws
print('Total points of Team Aravali:', aravali_points)
#Austria Points in total
austria_points = 3*wins + 4*losses + 1*draws
print('Total points of Team Austria', austria_points)

Total points of Team Aravali: 30
Total points of Team Austria 23

# Problem 2
Root of a function  f(x)  is defined as the value  x  where  f(x)=0 
Consider a quadratic function  f(x)=x2+3x−4 
Find the value of the function  f(x)  at points  x=7,x=−1,x=1 .
  a)Calculate the value of the function f(x) at x = 2.
  b) Calculate the value of the function f(x) at x = 1

In [6]:
b = int(input('Enter value: '))

x = b

a=(x:= x**2+3*x-4)

print('Quadratic Equation: f(x)= x**2+3*x-4')

print('Value of f(x) at point',b,"=", a)

Enter value:  45

Quadratic Equation: f(x)= x**2+3*x-4
Value of f(x) at point 45 = 2156

# Problem 3
A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

a) A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
b) The expected output 
c)Store the highest temperature
d) Index of the element with the highest temperature
max_temp_index = 
e) Store the lowest temperature 
min_temp = 
f) Index of the element with the lowest temperature
min_temp_index =

In [10]:
temp=[134, 40, 29, 33, 42, 37, 391]

a=max(temp)
b= min(temp)

c=a
a=b
b=c

#b 
print('Swapping of Minimum and Maximum Temperature:',a,b)

#c
max_temp = max(temp)
print('Highest Temperature:',max_temp)

#d
max_temp_index = temp.index(max(temp))
print('index of highest temperature in list:', max_temp_index)

#e 
min_temp=min(temp)

print('Minimum Temperature:',min_temp)

#f 
min_temp_index=temp.index(min(temp)) 
print('Index of Minimum Temperature:',min_temp_index)

Swapping of Minimum and Maximum Temperature: 29 391
Highest Temperature: 391
index of highest temperature in list: 6
Minimum Temperature: 29
Index of Minimum Temperature: 2

# problem 4

Calculate the median price
a) Step 1 - Obtain the sorted list
b)Check if the number of elements in the list is even or odd
c)Use the corresponding formula to calculate the median and print the median
d) Check which is greater, mean or median

In [28]:
def findMedian(a, n):
    a = sorted(a)  # Correctly sort the list and assign

    if n % 2 != 0:
        return float(a[n // 2])

    return float((a[(n - 1) // 2] + a[n // 2]) / 2.0)

# Driver code
a = [1, 3, 4, 2, 5, 8, 6]
n = len(a)

print("Median is:", findMedian(a, n))

# Problem 5
Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector.
 While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

a)The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

In [29]:
tech_companies=['Qualcom','Google','Apple',['Nvidia','Cisco','Samsung']]
print(tech_companies[:3])

['Qualcom', 'Google', 'Apple']

# Problem 6
Another measure of average
Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
You are given a list of numbers and you need to calculate the mode of this list.

 A list containing average daily temperature over 10 days
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [31]:
import statistics
temperatures= [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]
print(statistics.mode(temperatures))

34

# Problem 7 - numpy
Construct a 2-D  10∗10  matrix with the following constraints:
The element at  [0,0]  should be 1
The element at  [0,9]  should be 100
The element at  [9,0]  should be 50
The interval between elements in rows should be constant
The interval between elements in columns should be constant

In [36]:
mat=[[0]*10 for i in range(10)]

x_00 = 1 # [0, 0]

x_09 = 100 # [0, 9]

x_90 = 50 # [9, 0]

x_99 = 100# [9, 9]

for row in range(10):
    mat[row][0] = x_00 + row*(x_90-x_00) / 9 
    mat[row][9] = x_09 + row*(x_99-x_09) / 9

for col in range(9):
    mat[row][col] = mat [row] [0] + col*(mat[row][9]-mat[row][0]) / 9

for row in range(10):
    for col in range(10):
        print("{:5.2f}".format(mat[row][col]), end=' ')

print()

 1.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00  6.44  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 11.89  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 17.33  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 22.78  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 28.22  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 33.67  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 39.11  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 44.56  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00 100.00 50.00 55.56 61.11 66.67 72.22 77.78 83.33 88.89 94.44 100.00

# Problem 8  - numpy
Construct a list of first 100 natural numbers.Create a two dimensional array with 10 rows and whose each row contains 10 columns and each number in this array is the square of the number from your constructed list.
For example : [[1,4,9,...,100],[121,144,...],......,]

In [38]:
#Create a list of forst 100 natural numbers
L1=list(range(1,101))

#Create a two dimentional array 10x10
array=[[0]*10 for i in range(10)]

#fill the array by squared numbers from the list
for i in range(len(L1)):
    roqw=i//10
    col=i%10
    array[row][col]=L1[i]*L1[i]
print(array)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]]